body{
    min-height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    background-color: darkslategray;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .9), rgba(55, 35, 206, 0)),
    url(/PBL5/IMAGES/CIDADE\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: none;
}